<footer class="footer">
   <div class="footer-container">
      <h2 class="footer__title">- get in touch with us -</h2>
      <div class="footer__text--large">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</div>
      <div class="footer__text--small">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.</div>
      <nav class="footer__icons-container icons">
         <a class="icons__icon--rss icon" href="#"></a>
         <a class="icons__icon--facebook icon " href="#"></a>
         <a class="icons__icon--twiter icon" href="#"></a>
         <a class="icons__icon--dribble icon" href="#"></a>
         <a class="icons__icon--pinterest icon" href="#"></a>
      </nav>
      <div class="footer__contacts contacts">
         <address class="contacts__adress"> Moonshine St. 14-05 Light City</address>
         <div class="contacts__phone"> T.<a href="tel: +00 (123) 456 78 90"> +00 (123) 456 78 90</a></div>
         <div class="contacts__email"><a href="mailto: first.last@email.co">first.last@email.com</a></div>
      </div>
</footer>