<header class="header">
   <menu class="header__menu">
      @@include('components/headerMenu.html', {})
   </menu>
   <div class="header__dropdown">
      <div class="header__dropdown-container container">
         <button class="header__dropdown-btn"><span></span></button>
         <menu class="header__dropdown-menu">
            @@include('components/headerMenu.html', {})
         </menu>
      </div>
   </div>
</header>